.btn {
  background-color: var(--color, var(--mainBlue));
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 1.2rem;
  display: inline-block;
}

.btn.orange {
  --color: orange;
}

.btn.large {
  font-size: 1.25rem;
  padding: 1.1rem 1.9rem;
}
